<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1"/>
<title>cadastro</title>
</head>
<body>
	<form method="post" th:object="${user}" th:action="@{/user/salvar}">
	
		<input id="id" name="id" type="hidden" th:field="*{id}" th:value="*{id}" />
		
		<label>Nome:</label>
	    <input type="text" id="name" th:field="*{name}" />
	    
	    <label>Email:</label>
	    <input type="email" id="email" th:field="*{email}" />
	    
	    <label>Senha:</label>
	    <input type="password" id="password" th:field="*{password}" />
	    
	    <button type="submit" >Salvar</button>
	</form>
</body>
</html>